<!DOCTYPE html>
<html>
<head>
    <title>Excel Links</title>
    <link href="<%= assetUrl('/styles/bundle.css') %>" rel="stylesheet" type="text/css"/>
</head>
<body>

<div id="app"></div>
<script type="text/javascript" src="<%= assetUrl('/bundle.js') %>"></script>

</body>
</html>

