<!DOCTYPE html>
<html>
<head>
    <title>Excel Links</title>
    <link href="<%= assetUrl('/styles/bundle.css') %>" rel="stylesheet" type="text/css"/>
</head>
<body>

<div class="container">

    <div class="row">
        <div class="col-md-12">

            <form id="file-form" method="post" action="/process">
                <div class="form-group">
                    <label for="inputFilename">Filename</label>
                    <input type="text" name="filename" class="form-control" id="inputFilename" placeholder="Enter filename (*.xlsx)" pattern="\.xlsx$">
                </div>

                <div class="form-group">
                    <label for="inputImagePath">Image Path</label>
                    <input type="text" name="imagePath" class="form-control" id="inputImagePath" placeholder="Enter path to images" value="images/">
                </div>
            </form>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div id="dropzone" class="dropzone"></div>
        </div>

        <div class="col-xs-12 mt20 text-right">
            <button id="submitButton" class="btn btn-primary btn-lg">Process</button>
        </div>
    </div>

    <div class="row" id="download-container">
        <div class="col-xs-12">
            <ul>
            </ul>
        </div>
    </div>

</div>

<script type="text/javascript" src="<%= assetUrl('/bundle.js') %>"></script>

</body>
</html>

