<% include ../partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div id="dropzone" class="dropzone"></div>
        </div>

        <div class="col-xs-12 mt20 text-right">
            <button id="submitButton" class="btn btn-primary btn-lg" data-href="/process">Process</button>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>
