{% extends "layout.html.twig" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="dropzone" class="dropzone"></div>
            </div>

            <div class="col-xs-12 mt20 text-right">
                <button id="submitButton" class="btn btn-primary btn-lg">Process</button>
            </div>
        </div>
    </div>

{% endblock %}
