.container {
  margin: 25px auto;
}

.alert-list {
    margin-bottom: 20px;
}

.card {
  h4 {
    margin: 0;
    position: relative;
  }

  .clear-link {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 0.85rem;

    .fa {
      margin-right: 3px;
    }
  }

  .card-block--no-pt {
    padding-top: 0 !important;
  }
}

.list-group {
  position: relative;

  .fa {
    margin-right: 7px;
  }

  .list-group-icon {
    &.list-group-icon--right {
      position: absolute;
      right: 0;
    }
  }
}

.dropzone {
  border: 5px dashed #ccc;
  text-align: center;
  color: #ccc;
  font-size: 16px;
  min-height: 0;
  cursor: pointer;
  padding: 20px;

  &.dropzone--active {
    border-color: #a1a1a1;
  }

  &.dropzone--reject {
    border-color: #ad1b00;
  }
}

.submit-group {
  text-align: right;

  input {
    cursor: pointer;
  }
}

#results-card {
  margin-top: 30px;
}
